[data-testid='animation-container'] {
  overflow: hidden;
  position: relative;
}

[data-testid='lottie-container'] svg {
  height: 95vh !important;
  width: auto !important;
  position: relative !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
